body{
    margin:0;
    padding: 0;
    background-color: #96c1f8;
}

header{
    height: 100px;
    /* Ecris à la suite */
}

section{
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: -20px;
    /* Ecris à la suite */
}

h1 {
    
    text-align: center;
    color:white;

}
section div {
    height: 100px;
    width : 100px; 
    background-color: white;
    margin :5px;

}
section {
    display: flex;
    justify-content:center;
}

section div:hover {
    border-radius:50px;
    
    transform: rotate(360deg);
    transition : 0.5s; 
    }

section div:nth-child(3){
background-color:grey;   
}



#bateau { 
    
    transform: translate (0.500px);
    animation-duration: 8s;
    animation-name: bateau;
    animation-direction: normal;
    /*animation-fill-mode; forwards*/
    }  

/*animation*/
@keyframes bateau {
    from { 
    margin-right: 500px;
    
    }

    to {
margin-left: 500PX;

    }
}


footer{
    background-color: #235A8C;
    height: 250px;
    background-color: #5ee1e6;
    /* Ecris à la suite */
} 
    
footer div {

        color: white;  
        text-align: center; 
        font-size: 18px;
        font-family: Trebuchet MS;
        
}
#tresor{
    position: absolute;
    left: 45%;
    cursor: grab;

}

strong {
    font-weight:normal;
}


